<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= product.name %> - Feeaky Fashion</title>
  <link rel="stylesheet" href="/stylesheets/product-details.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <!-- Navigation -->
  <header>
    <nav class="topnav">
      <a href="http://localhost:3000/"><img class="logo" src="https://placehold.co/639x140/D7727C/FFF?text=Freaky Fashion" alt="Freaky Fashion logotype" /> </a>
      <form action="search" role="search">
        <input type="text" placeholder="Sök produkt" aria-label="Sök produkt" />
      </form>
      <div class="icon-container">
        <a href="#"><img class="icons" src="/stylesheets/BSicons/heart-fill.svg" alt="Add to favorites" /></a>
        <a href="#"><img class="icons" src="/stylesheets/BSicons/bag.svg" alt="Shopping bag" /></a>
      </div>
    </nav>
    <nav class="kategorier" aria-label="Category Navigation">
      <ul>
        <li><a href="#">Nyheter</a></li>
        <li><a href="#">Topplistan</a></li>
        <li><a href="#">Rea</a></li>
        <li><a href="#">Kampanjier</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    <article class="product-container">
        <figure class="product-image">
          <img src="<%= product.imageUrl %>" alt="<%= product.name %> image" />
        </figure>
      
        <div class="detail-image">
          <h2 class="product-title"><%= product.name %></h2>
          <p class="brand-name"><%= product.brand %></p>
          <p class="product-details">
            <!-- Add a description if you have one in your products array -->
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p class="pris-tag"><%= product.price %> SEK</p>
          <button aria-label="Put <%= product.name %> in cart">
            Lägg i varukorg
          </button>
        </div>
      </article>

    <!-- Similar Products Section -->
    <section class="products-section">
        <div class="products-title">
          <h3>Liknade produkter</h3>
        </div>
      
        <div class="products-container">
          <% similarProducts.forEach(function(similarProduct) { %>
            <figure>
              <a href="/product/<%= similarProduct.id %>">
                <img src="<%= similarProduct.imageUrl %>" alt="<%=similarProduct.name %>" />
                <figcaption>
                  <h5 class="product-name"><%= similarProduct.name %></h5>
                  <p class="price-tag"><%=similarProduct.price%> SEK</p>
                  <p><%=similarProduct.brand%></p>

                </figcaption>
              </a>
            </figure>
          <% }); %>
        </div>
      </section>

    <!-- Features Section -->
    <section>
      <div class="feature">
        <article class="feature-item">
          <img src="/stylesheets/BSicons/globe-europe-africa.svg" alt="Earth icon" class="feature-icon" />
          <p>Gratis frakt och returer</p>
        </article>
        <article class="feature-item">
          <img src="/stylesheets/BSicons/airplane-fill.svg" alt="Airplane icon" class="feature-icon" />
          <p>Expressfrakt</p>
        </article>
        <article class="feature-item">
          <img src="/stylesheets/BSicons/shield-shaded.svg" alt="Shield icon" class="feature-icon" />
          <p>Säkra betalningar</p>
        </article>
        <article class="feature-item">
          <img src="/stylesheets/BSicons/emoji-smile.svg" alt="Placeholder Icon" class="feature-icon" />
          <p>Nyheter varje dag</p>
        </article>
      </div>
    </section>
  </main>

  <!--Accordion-->

  <nav class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Shopping
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li><a href="#">Vinterjacka</a></li>
            <li><a href="#">Pufferjacka</a></li>
            <li><a href="">Kappa</a></li>
            <li><a href="#">Trenchcoats</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Mina Sidor
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li><a href="#">Mina Ordrar</a></li>
            <li><a href="#">Mitt Konto</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Kundtjänst
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li><a href="#">Returnpolicy</a></li>
            <li><a href="#">Integritetspolicy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">&copy; Freaky Fashion</div>
  </nav>

  <!-- Footer -->
  <footer class="footer">
    <nav aria-label="Footer Navigation">
      <div class="footer-content">
       <section>
        <div class="footer-col">
          <h4>Shopping</h4>
          <ul>
            <li><a href="#">Vinterjackor</a></li>
            <li><a href="#">Pufferjackor</a></li>
            <li><a href="#">Kappa</a></li>
            <li><a href="#">Trenchcoats</a></li>
          </ul>
        </div>
      </section>

     <section>
      <div class="footer-col">
          <h4>Mina Sidor</h4>
          <ul>
            <li><a href="#">Mina Ordrar</a></li>
            <li><a href="#">Mitt Konto</a></li>
          </ul>
        </div>
      </section>  

      <section>
        <div class="footer-col">
          <h4>Kundtjänst</h4>
          <ul>
            <li><a href="#">Returnpolicy</a></li>
            <li><a href="#">Integritetspolicy</a></li>
          </ul>
        </div>
       </section>
       </div>
      </nav> 

      <div class="copyright">&copy; Freaky Fashion</div>

  </footer>
</body>

</html>